@import url("https://fonts.googleapis.com/css?family=Lato:300,700|Marck+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato";
}

/* Header Styles*/
header {
  background: #9fff9c;
  height: 100vh;
  background-attachment: fixed;
}

header h2 {
  font-family: "Marck Script";
  color: #40803e;
}



#description {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#description h1 {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

#description p {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: 30px;
}

#description img {
  border-radius: 20px;
  margin-top: 10%;
}

#header-content>p {
  text-align: center;
  line-height: 2;
  font-size: 2rem;
  margin-top: 2%;
}

#header-content>p:first-child {
  margin-top: 50%;
}

/* Link Styles */
ul li a {
  text-decoration: none;
  color: #40803e;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  padding: 10px;
}

ul li a:hover {
  border-bottom: 2px solid #40803e;
}

ul li a:active {
  border-bottom: 2px solid #40803e;
}

/* Navbar styling */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 5px 10%;
  display: flex;
  width: 100%;
  position: fixed;
  background: rgba(159, 255, 156, 0.8);
  box-shadow: 1px 0 4px 0 #000;
  z-index: 3;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 50%;

  top: 0;
  left: 0;

}


/* About section */
#about {
  height: 70vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#about-me {
  width: 55%;
  font-size: 1.5rem;
  line-height: 2.1rem;
}

#about-me p:nth-child(2) {
  margin: 20px 0;
}

.ninja {
  background: url(../images/ninja1.png) no-repeat center center/cover;
  width: 30%;
  height: 300px;
  display: block;
}

/* About section links */
.moringa {
  background: #637c33;
}

.freecodecamp {
  background: #0a0a23;
}

.freecodecamp,
.freecodecamp-profile,
.moringa {
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  padding: 5px;
  font-size: 0.9rem;
  font-weight: 700;
}

.freecodecamp-profile {
  background: #0a0a23;
}

/* HR pseudo elements */
#about-me::before {
  content: "";
  background: #40803e;
  width: 30%;
  height: 2px;
  display: block;
  margin: 0 auto 30px auto;
}

#about-me::after {
  content: "";
  background: #40803e;
  width: 30%;
  height: 2px;
  display: block;
  margin: 30px auto 0 auto;
}

/* Projects Section */
#projects {
  height: 70vh;
  background: #9fff9c;
  overflow: hidden;

}

#projects-links {
  display: flex;
  justify-content: space-around;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  margin: 50px auto;
  position: relative;
  max-width: 500px;
  font-size: 2rem;
  font-weight: 300;
  color: #40803e;
  word-spacing: 1rem;
}

h3::before {
  content: "";
  display: block;
  background: #40803e;
  width: 120px;
  height: 2px;
  position: absolute;
  left: 0;
  top: 50%;
}

h3::after {
  content: "";
  display: block;
  background: #40803e;
  width: 120px;
  height: 2px;
  position: absolute;
  right: 0;
  top: 50%;
}

#styled-headings {
  margin: 0 auto;
}

h3 span {
  background: #9fff9c;
  z-index: 3;
}

/* Styling projects */

.caption {
  text-align: center;
  font-style: italic;
}

.individual-project {
  position: relative;
}

.project-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.3rem;
  color: #40803e;
  font-weight: 700;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.project-details p {
  margin-top: 20%;
}

.project-details:hover {
  opacity: 1;
  background: rgba(255, 255, 255, 0.8);
  transition: all 0.5s ease-in;
}

/* Button styling */
.btn {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  display: inline-block;
  margin-top: 10px;
}

.btn-github {
  background: #24292e;
}

.btn-live {
  background: #000080;
}

/* Styles for tags */
.tag {
  display: inline-block;
  padding: 4px;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;

}

.html-tag {
  background: #E34F26;
}

.css-tag {
  background: #2757E4;
}

/* Contacts section */


#contacts h2 {
  text-align: center;
  font-weight: 300;
  margin-top: 20px;
  color: #40803e;
}

input,
textarea {
  display: block;
  margin-top: 40px;
  width: 100%;
  padding: 10px;
  color: #40803e;
  border-radius: 4px;
  border: 2px solid #40803e;
}

/* Form styling */
form {
  width: 30%;
  margin: 0 auto;

}

.form-btn {
  text-decoration: none;
  text-transform: uppercase;
  color: #40803e;
  border: 2px solid #40803e;
  padding: 5px;
  display: inline-block;
  margin-top: 20px;
  font-weight: 700;
}

/* Footer styling */
footer {
  background: #40803e;
  color: #fff;
  text-align: center;
  margin-top: 30px;
  padding: 20px 0;
  line-height: 2;
  font-size: 1.3rem;

}

.form-btn:hover {
  color: #fff;
  background: #40803e;
  transition: all 0.5s ease;
}

.heart {
  color: red;
}

/* Responsive design */